<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>636941009860-s9h2u9m1dm3rl5cabhhihum4bfqkcjjq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.636941009860-s9h2u9m1dm3rl5cabhhihum4bfqkcjjq</string>
	<key>API_KEY</key>
	<string>AIzaSyDLB5JO-C_Ri8xe_PjSb2KbXKK973SGr1Q</string>
	<key>GCM_SENDER_ID</key>
	<string>636941009860</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>se.magictechnology.piaxv5firebase</string>
	<key>PROJECT_ID</key>
	<string>piax-acf23</string>
	<key>STORAGE_BUCKET</key>
	<string>piax-acf23.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:636941009860:ios:bf127488cb5b8bdfe21a91</string>
	<key>DATABASE_URL</key>
	<string>https://piax-acf23-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>